.login-header{
    background-color: #562b80;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.login-header .header-logo{
    max-width: 150px;
}
.login-header .support{
    color: white;
}
@media screen and (max-width:400px) {
    .login-header{
        flex-direction: column;
        gap: 10px;
    }
}