.btn-primary{
    background-color:#562b80 !important;
    color: #ffffff !important;
    border: solid 1px #562b80 !important;
}
.btn-primary:hover{
    background-color:#66309c !important;
}
.btn-outline-primary{
    border: solid 1px #562b80 !important;
    color: #562b80 !important;
}
.btn-outline-primary:hover{
    background-color:#562b80 !important;
    color: #ffffff !important;
}
.text-primary{
    color: #562b80 !important;
}
.link-primary{
    color: #562b80 !important;
    text-decoration: none;
}
.link-primary:hover{
    color: #66309c !important;
}